
<!-- <pre>{{ users | json }}</pre> -->
<!-- <button class="btn btn-primary " >Bootstrap Button</button>

<br><br>

<ul>
    <li *ngFor = "let u of users">  
        {{u.name}} - {{u.email}}
    </li>
</ul>

<ul>
    @for (u of users; track u.id) {
        <li>{{u.name}} - {{u.email}}</li>
    }
</ul>

<button>Bootstrap Button</button> -->

@for (u of users; track u.id) {
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{u.id}}</h5>
    <h6 class="card-title">{{u.name}}</h6>
    <p class="card-text">{{u.email}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
}